.headerNavbar .navbar {
    border-radius : 0px;
}

.navbar-default .navbar-nav>li>a {
    margin-right: 20px;
    color: white;
}

.navbar {
    background-color: whitesmoke;
    border-radius: 0px;
}

.thumbnail {
    text-align: center;
    word-break: break-all;
}

.content a {
    text-decoration: none;
}

.content a:hover {
    text-decoration: none;
}

.container .jumbotron {
    background-color: white;
}

.thumbnail .caption {
    color: #428bca;
}

.thumbnail .caption h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

