.headerNavbar .navbar {
    border-radius : 0px;
}

.navbar-default .navbar-nav>li>a {
    margin-right: 20px;
    color: white;
}

.navbar {
    background-color: whitesmoke;
    border-radius: 0px;
}

.thumbnail {
    text-align: center;
}

.content a {
    text-decoration: none;
}

.content a:hover {
    text-decoration: none;
}

