.headerNavbar .navbar {
    border-radius : 0px;
}

.navbar-default .navbar-nav>li>a {
    margin-right: 20px;
    color: white;
}

.navbar {
    background-color: whitesmoke;
    border-radius: 0px;
}

.attribute {
    margin-left:7px;
}