<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" ng-app="gitmetrics">
<head>
    <title>GitMetrics</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css"/>
    
    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>

</head>

<body ng-controller="mainController">

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><h3 th:text="${organization}"></h3></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" class="btn btn-primary navbar-btn" role="button">Log Out</a></li>
                </ul>
            </div>
        </nav>        
    </header>

    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-2" ng-repeat="repo in repoList">
                    <a href="{{'/dashboard/' + repo.name}}">
                        <div class="thumbnail">
                            <div class="Caption">
                                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                                <h3>{{repo.name}}</h3>
                                <p>{{repo.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
</body>
</html>