<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" ng-app="gitmetrics">
<head>
    <title>GitMetrics</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/repository.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css"/>
    
    <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
</head>

<body ng-controller="mainController">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><h3 th:text="${organization}"></h3></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" class="btn btn-primary navbar-btn" role="button">Log Out</a></li>
                </ul>
            </div>
        </nav>        
    </header>
    
<!--    {{repository}}-->
    
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#repoDetails" aria-controls="repoDetails"  role="tab" data-toggle="pill">Repository Details</a></li>
                        <li role="presentation"><a href="#repoPullRequests" aria-controls="repoPullRequests"  role="tab" data-toggle="pill">Pull Requests</a></li>
                        <li role="presentation"><a href="#repoBranches" aria-controls="repoBranches"  role="tab" data-toggle="pill">Branches</a></li>
                        <li role="presentation"><a href="#repoCollaborators" aria-controls="repoCollaborators"  role="tab" data-toggle="pill">Collaborators</a></li>
                    </ul>
                </div>

                <div class="tab-content col-md-offset-2">
                    <div role="tabpanel" class="tab-pane active fade in" id="repoDetails">
                        <div class="jumbotron">
                            <p><span>Name:</span><span class="attribute">{{repository.name}}</span></p>
                            <p><span>Description:</span><span class="attribute">{{repository.description}}</span></p>
                            <p><span>Sender:</span><span class="attribute">{{repository.sender}}</span></p>
                            <p><span>Created At:</span><span class="attribute">{{repository.createdAt}}</span></p>
                            <p><span>Updated At:</span><span class="attribute">{{repository.updatedAt}}</span></p>
                            <p><span>Url:</span><span class="attribute">{{repository.url}}</span></p>
                            <p><span>Private Repository:</span><span class="attribute">{{repository.privateRepo}}</span></p>
                            <p><span>Owner Login:</span><span class="attribute">{{repository.owner.login}}</span></p>
                            <p><span>Owner Type:</span><span class="attribute">{{repository.owner.type}}</span></p>
                            <p><span>Owner Url:</span><span class="attribute">{{repository.owner.url}}</span></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane active fade" id="repoPullRequests">
                        <div class="panel panel-primary" ng-repeat="pr in repository.pullRequests">
                            <div class="panel-heading">PR #{{pr.number}} : {{pr.title}}</div>
                            <div class="panel-body">
                                <p><span>Body:</span><span class="attribute">{{pr.body}}</span></p>
                                <p></p>
                                 <p><span>State:</span><span class="attribute">{{pr.state}}</span></p>
                                <p></p>
                                <p><span>Created At:</span><span class="attribute">{{pr.createdAt}}</span></p>
                                <p></p>
                                <p><span>Closed At:</span><span class="attribute">{{pr.closedAt}}</span></p>
                                <p></p>
                                <p><span>Updated At:</span><span class="attribute">{{pr.updatedAt}}</span></p>
                                <p></p>
                                <p><span>Merged Status:</span><span class="attribute">{{pr.merged}}</span></p>
                                <p></p>
                                <p><span>Merged At:</span><span class="attribute">{{pr.mergedAt}}</span></p>
                                <p></p>
                                <p><span>Merged By:</span><span class="attribute">{{pr.mergedBy}}</span></p>
                                <p></p>
                                <p><span>Sender:</span><span class="attribute">{{pr.sender}}</span></p>
                                <p></p>
                                <p><span>User Login:</span><span class="attribute">{{pr.user.login}}</span></p>
                                <p></p>
                                <p><span>User Type:</span><span class="attribute">{{pr.user.type}}</span></p>
                                <p></p>
                                <p><span>Head Ref:</span><span class="attribute">{{pr.head.ref}}</span></p>
                                <p></p>
                                <p><span>Head User Login:</span><span class="attribute">{{pr.head.user.login}}</span></p>
                                <p><span>Head User Type:</span><span class="attribute">{{pr.head.user.type}}</span></p>
                                <p><span>Head Repo Name:</span><span class="attribute">{{pr.head.repo.name}}</span></p>
                                <p><span>Head Repo Owner Login:</span><span class="attribute">{{pr.head.repo.owner.login}}</span></p>
                                <p><span>Base Ref:</span><span class="attribute">{{pr.base.ref}}</span></p>
                                <p></p>
                                <p><span>Base User Login:</span><span class="attribute">{{pr.base.user.login}}</span></p>
                                <p><span>Base User Type:</span><span class="attribute">{{pr.base.user.type}}</span></p>
                                <p><span>Base Repo Name:</span><span class="attribute">{{pr.base.repo.name}}</span></p>
                                <p><span>Base Repo Owner Login:</span><span class="attribute">{{pr.base.repo.owner.login}}</span></p>
                                <p>{{pr.assignees}}</p>
                                <p>{{pr.labels}}</p>
                                <p>{{pr.comments}}</p>
                                <p>{{pr.reviews}}</p>
                             </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane active fade" id="repoBranches">
                        <div class="panel panel-primary" ng-repeat="branch in repository.branches">
                            <div class="panel-heading">Branch : {{branch.ref}}</div>
                            <div class="panel-body">
                                <p><span>Created By:</span><span class="attribute">{{branch.sender}}</span></p>
                                 <p><span>Stale Status:</span><span class="attribute">{{branch.stale}}</span></p>
                                 <p><span>Mail Send Status:</span><span class="attribute">{{branch.mailSent}}</span></p>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane active fade" id="repoCollaborators">
                        <div class="panel panel-primary" ng-repeat="collaborator in repository.collaborators">
                            <div class="panel-body">
                             <p><span>Collaborator Login:</span><span class="attribute">{{collaborator.login}}</span></p>
                             <p><span>Collaborator Type:</span><span class="attribute">{{collaborator.type}}</span></p>    
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/repository.js}"></script>
</body>
</html>